:root{
    --primary-color: #363AFF;
    --secundary-color: #7B37FF;
    --white-color: white;
    --ligh-gray-color: gray
    --gap: 3rem;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open-Sans', sans-serif;
    font-size: 2.3rem;
}

h1, h2, h3, h4, h5, h6, h7{
    font-family: 'Montserrat', sans-serif;
    color: black;

}

h1{
    font-size: 6rem;
    text-transform: uppercase;
    
}

h2{
    font-size: 6rem;
    margin-bottom: 5rem;
    line-height: 1.2;
    color: black;
} 

h3{
    font-size: 5rem;
    color: black;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3.5rem;
}
h7{
    font-size: 2rem;
}

a{
    text-decoration: none;
}
p{
    margin-bottom: 3rem;
    color: black;
}
margin{
    border: 0.3 solid black;
}
